# Dependencies
node_modules/

# Build
dist/
build/
*.local

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Vite
*.local
.vercel
.env*.local
